<mat-card *ngIf="policy">
  <mat-card-header>
    <mat-card-title>
      <h3>{{ alias | uppercase }}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>Type: {{ type }}</div>
    <div>Indent: {{ indent }}</div>
    <div>End date: {{ start_date }}</div>
    <div>Start date: {{ end_date }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleEdit()">
      EDIT
    </button>
    <button mat-raised-button color="warn" (click)="handleDelete()">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
